<p>Search for packs you own</p>
<search-box (update)="searchTermPackName = $event">Owned Packs</search-box>
<table>
	<tr *ngFor="let pack of (packs | searchPackName: searchTermPackName)">
		<app-pack [pack]="pack"></app-pack>
		<div *ngFor='let character of pack.characters' >
			<app-character [character]="character"></app-character>
		</div> 
		<button (click)="addPack(pack)" >Add Pack to Owned list</button>
	</tr>
</table>

<p>Characters you Own</p>
<table>
	<tr *ngFor="let pack of ownedPacks">
		<app-pack [pack]="pack"></app-pack>
		<div *ngFor='let character of pack.characters' >
			<app-character [character]="character"></app-character>
		</div> 
		<button (click)="removePack(pack)" >Remove Pack from Owned list</button>
	</tr>
</table>
 <p>Abilities needed for completion</p>
<table>
	<tr *ngFor="let ability of neededAbilities">
			<td>{{ability.CharacterAbilityName}}</td>
			<span *ngFor='let character of ability.CharactersWithAbility'>
				<td>{{character}}</td>
			</span> 
	</tr>
</table>



<br/>
<p>List of packs, characters and abilities</p>
<table>
    <tr *ngFor='let pack of packs'>
		<app-pack [pack]="pack"></app-pack>
		<div *ngFor='let character of pack.characters' >
			<app-character [character]="character"></app-character>
		</div> 
	</tr>
</table>